{{!--  --}}
<h1 style="text-align: center; font-size:30px; padding-top: 15px;">CREATE HOUSE</h1>
<br>
<div class="row container">
  <form class="col s12" action="/create" method="POST" enctype="multipart/form-data">
    <div class="row">
      
      <div class="input-field col s6">
        <input class="input" name="name" type="text" placeholder="Property name" />
      </div>
      <div class="input-field col s6">
        <input class="input"type="number" name="rent" placeholder="Rent amount">
      </div>
      <div class="input-field col s6">
        <input class="input"type="text" name="tennants" placeholder="Tennants">
      </div>
      <div class="input-field col s6">
        {{!--  --}}
        <input class="input"type="text" name="description" placeholder="Description">
      </div>
      {{!-- Esto es BULMA creo 😅 --}}
      <img src="{{photo}}">
      <input clas="input is-danger container" type="file" name="photo" placeholder="Picture">
      <div class="select column" style="width: 100%;">
        <select name="placeType" style="width: 100%;">
          <option value="">Select type</option>
          {{#each options}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
      <br><br>
      {{!-- aqui acaba bulma --}}
      <div class="container" id="map" style="width: 1000px; height: 300px;">

      </div>
      <br>
      <button style="margin-left: 45%; padding: 0px 50px;" class="waves-effect waves-light btn-large cyan darken-4">Create</button>
      <input type="text" name="address" hidden>
      <input type="text" name="latitude" hidden>
      <input type="text" name="longitude" hidden>
    </div>
  </form>
</div>