<h1 style="font-size: 1.8rem;">LandPay</h1>
<br>
<br>
<button onclick="location.href='/login'">Login</button>
<br><br>
<button onclick="location.href='/signup'">Signup</button>
<br><br>
<button onclick="location.href='/logout'">Logout</button>
<br><br>
<button onclick="location.href='/places'">Places</button>





