<form action="/login" method="POST">
<h1>LOGIN</h1>
<input required type="email" placeholder="email" name="email">
<input required type="password" placeholder="password" name="password">
<input type="submit">
<h2 style="color: red;">{{message}}</h2>
<br><br>

</form>
<h2>Or Login by Facebook Here:</h2>
<button onclick="location.href='/auth/facebook'">LogIn Face</button>
<br><br>
<button onclick="location.href='/'">Home</button>