<form action="/signup" method="POST">
<h1>SIGNUP</h1>
<input required type="text" placeholder="name" name="name">
<input required type="email" placeholder="email" name="email">
<input required type="password" placeholder="password" name="password">
<input type="submit">
<h2 style="color: red;">{{message}}</h2>
</form>

<br><br>
<button onclick="location.href='/'">Home</button>